
{% extends "body.html" %}

{% block content_wrapper %}

<div class="col-sm-12 QRM_box {{QRM_color}}">
	<div class="QRM_box_in">
		<div style='text-align:center; margin: 0 auto; width: 90%'>

			<a href="{% url 'play' %}">
				<div class="QRM_btn QRM_btn_home">
					<img src="/files/static/game.png">
					<h5>Play</h5>
				</div>
			</a>
			{% if user.is_authenticated %}
				<a href="{% url 'settings' %}">
					<div class="QRM_btn QRM_btn_home">
						<img src="/files/static/setting.png">
						<h5>Settings</h5>
					</div>
				</a>
			{% endif %}

		</div>
	</div>
</div>

{% include "message.html" %}

{% endblock content_wrapper %}
