
{% extends "body.html" %}

{% block content_wrapper %}
<a href="{% url 'home' %}">
	<div>
		<p>← Back</p>
	</div>
</a>
<div class="col-sm-12 QRM_box {{QRM_color}}">
	<div class="QRM_box_in">
		<div style='text-align:center; margin: 0 auto; width: 90%'>

			<a href="{% url 'songs_list' %}">
				<div class="QRM_btn QRM_btn_home">
					<img class="QRM_btn_image" src="/files/static/player.png">
					<h5>Interactive player</h5>
				</div>
			</a>

		</div>
	</div>
</div>

{% include "message.html" %}

{% endblock content_wrapper %}
