{% extends "body.html" %}

{% block content_wrapper %}
<a href="{% url 'home' %}">
	<div>
		<p>← Back</p>
	</div>
</a>
<div class="col-sm-12 QRM_box {{QRM_color}}">
	<div class="QRM_box_in">
		<div style='text-align:center; margin: 0 auto; width: 90%'>

			<a href="{% url 'players_list' %}">
				<div class="QRM_btn QRM_btn_home">
					<img src="/files/static/game.png">
					<h5>Play</h5>
				</div>
			</a>


			<a href="{% url 'gallery' %}">
				<div class="QRM_btn QRM_btn_home">
					<img src="/files/static/gallery.png">
					<h5>Gallery</h5>
				</div>
			</a>


			<a href="{% url 'camera' %}">
				<div class="QRM_btn QRM_btn_home">
					<img src="/files/static/cam.png">
					<h5>Cam</h5>
				</div>
			</a>


			<a href="{% url 'user' %}">
				<div class="QRM_btn QRM_btn_home">
					<img src="/files/static/user.png">
					<h5>User</h5>
				</div>
			</a>

		</div>
	</div>
</div>

{% include "message.html" %}

{% endblock content_wrapper %}
